*{
    background-color: aqua;
}

.input1 {
    width: 300px;
    height: 27px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.input2 {
    width: 300px;
    height: 27px;
}
.btn-nsubmit {
    background-color: rgb(5, 5, 5);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    margin-left: 80px;
    width: 140px;
    height: 40px;
}
.container{
    width: 20vw;
    margin: auto;
}
input, select{
    display: block;
    margin: 5px;
}
